.message{"data-message-id": "#{messaege.id}"}
  .top-message
    .top-message__user-name
      = message.user.name
    .top-message__date
      = message.created_at.strftime("%Y年%m月%d日　%H時%M分")
  .bottom-meesage
    - if message.body.present?
      %p.bottom-message__content
        = message.body
    = image_tag message.image.url, class: 'bottom-message__image' if message.image.present?
        = imakge_tag(message.image)
