.chat
  .header チャットグループが作成されました
  .chat-sidebar
    .chat-sidebar_top
      .chat-sidebar_top__user-name
        %p
          = "USER_NAME"
      %ul.chat-sidebar_top__lists
        %li.list
          = link_to do
            = fa_icon 'cog', class: 'icon'
        %li.list
          = link_to do
            = fa_icon 'edit', class: 'icon'
    .chat-sidebar_group
      .chat-sidebar_group__name
        %p
          = "Sampleグループ"
      .chat-sidebar_group__text
        %p
          = "まだメッセージはありません"
  .chat-content
    .chat-content_head
      .chat-content_head__name
        %p
          = "Sampleグループ"
      .chat-content_head__member-name
        %p
          = "Member: name"
      .chat-content_head__edit
        %p
          = "EDIT"
    .chat-content_time-line
      .chat-content_time-line__user-name
        %p
          = "ユーザーネーム"
      .chat-content_time-line__date
        %p
          = "2018/09/20 07.19.13"
      .chat-content_time-line__message
        %p
          = "ユーザー投稿"
      .chat-content_time-line__user-name
        %p
          = "ユーザーネーム"
      .chat-content_time-line__date
        %p
          = "2018/09/20 07.19.13"
      .chat-content_time-line__message
        %p
          = "ユーザー投稿"

    .chat-content_create
      .chat-content_create__input
        .chat-content_create__input__text
          %p
            = "type a message"
      %ul.chat-content_create__icon
        %li.icon
          = link_to do
            = fa_icon 'image', class: 'icon'
      .chat-content_create__send
        %p
          = "Send"
