.chat
  .chat-sidebar
    .chat-sidebar_top
      .chat-sidebar_top__user-name
        = current_user.name
      %ul.chat-sidebar_top__lists
        %li.list
          = link_to edit_user_path(current_user) do
            = fa_icon 'cog', class: 'icon'
        %li.list
          = link_to new_group_path do
            = fa_icon 'pencil-square-o', class: 'icon'
    .groups
      - current_user.groups.each do |group|
        = link_to group_messages_path(group) do
          .groups__name
            = group.name
            .groups__message
              = group.show_last_message

  .chat-content
    .chat-content_head
      .chat-content_head__name
        = @group.name
      .chat-content_head__member-name
        %p
          ="Member : "
          = current_user.name
      .chat-content_head__edit
        %p
          = link_to "EDIT", edit_group_path(@group)
      .messages
        =render partial: "message", collection: @messages

    .chat-form
      .form
        = form_for [@group, @message] do |f|
          = f.text_field :body, class: 'form__message', placeholder: 'type a message'
          .form__mask
            = f.label :image, class: 'form__mask__image' do
              = fa_icon 'image', class: 'icon'
              = f.file_field :image, class: 'hidden'
          = f.submit 'Send', class: 'form__submit'


  / .chat-content_create
  /   .chat-content_create__input
  /     .chat-content_create__input__text
  /       %p
  /         = "type a message"
  /   %ul.chat-content_create__hidden
  /     %li.icon
  /       = link_to do
  /         = fa_icon 'image', class: 'icon'
  /   .chat-content_create__send
  /     %p
  /       = "Send"
